// COLORS
$color-text-tomato: #F67E7E;

$color-text-white: #FFFFFF;

$color-text-dark: #012F34;

// BACKGROUND 
$header-backgound: #014E56;

$intro-section: #012F34;

$intro-section: #004047;

$internal-section: #F67E7E;

$footer-background: #002529;